@model Stayzee.Domain.Entities.Villa;

<div class="w-100">
    <div class="card border-0 p-4">
        <div class="card-header bg-success bg-gradient py-0">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">Update Villa</h1>
                </div>
            </div>
        </div>
        <div class="card-body border p-4">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="@Model.Id" hidden />
                <div class="form-group">
                    <label asp-for="@Model.Name">Name:</label>
                    <input type="text" asp-for="@Model.Name" class="form-control" placeholder="Enter Name" />
                    <span asp-validation-for="@Model.Name" class="form-text text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description">Description:</label>
                    <input asp-for="@Model.Description" type="text" class="form-control" placeholder="Enter Description" />
                    <span asp-validation-for="@Model.Description" class="text-danger form-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Price">Price:</label>
                    <input asp-for="@Model.Price" type="text" class="form-control" placeholder="Enter Price" />
                    <span asp-validation-for="@Model.Price" class="text-danger form-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Sqft">SqFt:</label>
                    <input asp-for="@Model.Sqft" type="text" class="form-control" placeholder="Enter Sqft" />
                    <span asp-validation-for="@Model.Sqft" class="text-danger form-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Occupancy">Occupancy:</label>
                    <input asp-for="@Model.Occupancy" type="number" class="form-control" placeholder="Enter Occupancy" />
                    <span asp-validation-for="@Model.Occupancy" class="text-danger form-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ImageUrl">ImageUrl:</label>
                    <input asp-for="@Model.ImageUrl" type="text" class="form-control" placeholder="Enter ImageUrl" />
                    <span asp-validation-for="@Model.ImageUrl" class="text-danger form-text"></span>
                </div>
                <div class="pt-2">
                    <button asp-action="Update" asp-controller="Villa" type="submit" class="btn btn-primary"><i class="bi bi-check2-circle"></i> Update</button>
                    <a class="btn btn-danger" asp-controller="Villa" asp-action="Index"><i class="bi bi-x-circle"></i> Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}